* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slot {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid lightgray;
  background-color: #e8f9ff;
  padding-left: 1rem;
}

.calendar {
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  border: 1px solid lightgray;
  left: 4rem;
  width: 1px;
}

.event {
  position: absolute;
  width: calc(100% - 5rem);
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4d9ff;
  border: 1px solid #3d90d7;
  color: #3d90d7;
}
